body {
  font-family: Helvetica Narrow, sans-serif;
  color: white;
  user-select: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(7, 7, 58),
    rgb(0, 0, 14)
  );
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: lighter;
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-image: linear-gradient(
    to bottom right,
    rgb(228, 129, 24),
    rgb(238, 179, 115)
  );
  color: white;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(160, 93, 21),
    rgb(235, 156, 71)
  );
  color: lightgrey;
}

button:active {
  background-image: linear-gradient(
    to bottom right,
    rgb(238, 179, 115),
    rgb(228, 129, 24)
  );
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px 40px 20px 40px;
  background-image: linear-gradient(
    to bottom right,
    rgb(15, 15, 77),
    rgb(6, 6, 53)
  );
}

#placeholderLogoText {
  color: white;
  font-size: 35px;
}

#userHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

#homepageDaySelector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin-bottom: 20px;
}

#habitThumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 50px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px;
  background-image: linear-gradient(
    to bottom right,
    rgb(29, 29, 108),
    rgb(3, 3, 36)
  );
  border-radius: 10px;
}

#habitThumb img {
  height: 40px;
  width: 40px;
  fill: red;
}

#makeHabitCont button {
  height: 50px;
  width: 180px;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 20px;
}

#singleHabit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding: 20px;
}

#singleHabitTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
}

#singleHabitTop img {
  height: 60px;
  width: 60px;
}

#singleHabitAnalysis {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#singleHabit button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px;
}

.navIcons {
  height: 40px;
  width: 40px;
}

.homePageWelcome {
  margin-top: 30px;
}

.ratingCounter {
  display: flex;
  align-items: center;
}

.ratingCounter button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bolder;
  line-height: 0px;
  background: transparent;
}

.ratingBinary input {
  width: 40px;
}

.fiveStarsCharacter {
  font-size: 25px;
  padding: 2px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.modalForm label {
  font-size: 20px;
  margin-bottom: 10px;
}

.modalForm input {
  width: 163px;
  height: 18px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px 5px 5px 8px;
  border-radius: 5px;
}

.modalForm select {
  width: 180px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 15px;
}

.modalForm button {
  width: 150px;
  margin-top: 10px;
  font-size: 18px;
}

.react-calendar-heatmap {
  height: 200px;
  width: 200px;
  transform: rotate(90deg);
}

.react-calendar-heatmap .color-scale-1 {
  fill: rgb(255, 192, 124);
}
.react-calendar-heatmap .color-scale-2 {
  fill: rgb(255, 170, 79);
}
.react-calendar-heatmap .color-scale-3 {
  fill: rgb(255, 158, 53);
}
.react-calendar-heatmap .color-scale-4 {
  fill: rgb(255, 146, 30);
}
.react-calendar-heatmap .color-scale-5 {
  fill: rgb(255, 132, 0);
}
.react-calendar-heatmap .color-scale-0 {
  fill: #ffffff;
}
.react-calendar-heatmap .color-empty {
  fill: #ffffff;
}
